body {
    padding: 10px;
}

p {
    font-size: 12px;
    opacity: 0.7;
}
.container-top {
    display: none; /* change to flex */
    flex-direction: column;
    justify-content: space-between;
}

.container-bot {
    display: none; /* change to flex */
    flex-direction: column;
    justify-content: space-between;
}

.fas:hover {
    color: teal;
    transform: scale(1.2);
}

/* .input-container {
    display: flex;
    flex-direction: row;
    padding: 10px;
} */

.output {
    background-color: #a0a2a5;
}